# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

homeassistant:
  allowlist_external_dirs:
    - "/config/www/snapshots"

shell_command:
  git_pull: "git -C /config pull --rebase origin main"

recorder:
  purge_keep_days: 14
  exclude:
    domains:
      - camera
      - device_tracker
      - image
      - person
      - weather
    entities:
      - sun.sun
      - binary_sensor.filament_store_light_motion
      - sensor.filament_store_light_illuminance
    entity_globs:
      # Fan speeds / signals (already present)
      - sensor.*_wi_fi_signal
      - sensor.*_fan_speed
      - sensor.*_target_temperature
      - sensor.*_speed_profile
      - sensor.*_current_layer_height
      - sensor.*_ams_tray_*
      # 3D printer real-time sensors
      - sensor.*_bed_temperature
      - sensor.*_position_*
      - sensor.*_ams_*
      - sensor.*_current_layer
      - sensor.*_remaining_time
      - sensor.*_model_download
      - sensor.*_print_progress
      - sensor.*_print_time_left
      - sensor.*_real_time_flow
      - sensor.*_current_object
      # Fans
      - fan.*_aux_fan
      - fan.*_chamber_fan
      - fan.*_cooling_fan
      # Distance / proximity sensors
      - sensor.*_estimated_distance*

template:
  - sensor:
      - name: "Kiwi Display Name"
        state: >
          {{states('sensor.kiwi_gcode_filename').split('-')[0]}}
      - name: "Kiwi Object"
        state: >
          {{states('sensor.kiwi_gcode_filename').replace(states('sensor.kiwi_display_name') + '-', '')}}
      - name: "Kiwi Last Display Name"
        state: >
          {{states('sensor.kiwi_task_name').split('-')[0]}}
      - name: "Kiwi Last Object"
        state: >
          {{states('sensor.kiwi_task_name').replace(states('sensor.kiwi_task_name') + '-', '')}}
      - name: "Mango Display Name"
        state: >
          {{states('sensor.mango_gcode_filename').split('-')[0]}}
      - name: "Mango Object"
        state: >
          {{states('sensor.mango_gcode_filename').replace(states('sensor.mango_display_name') + '-', '')}}
      - name: "Mango Last Display Name"
        state: >
          {{states('sensor.mango_task_name').split('-')[0]}}
      - name: "Mango Last Object"
        state: >
          {{states('sensor.mango_task_name').replace(states('sensor.mango_task_name') + '-', '')}}
      - name: "Papaya Display Name"
        state: >
          {{states('sensor.papaya_gcode_filename').split('-')[0]}}
      - name: "Papaya Object"
        state: >
          {{states('sensor.papaya_gcode_filename').replace(states('sensor.papaya_display_name') + '-', '')}}
      - name: "Papaya Last Display Name"
        state: >
          {{states('sensor.papaya_task_name').split('-')[0]}}
      - name: "Papaya Last Object"
        state: >
          {{states('sensor.papaya_task_name').replace(states('sensor.papaya_task_name') + '-', '')}}
      - name: "Strawberry Display Name"
        state: >
          {{states('sensor.strawberry_gcode_filename').split('-')[0]}}
      - name: "Strawberry Object"
        state: >
          {{states('sensor.strawberry_gcode_filename').replace(states('sensor.strawberry_display_name') + '-', '')}}
      - name: "Strawberry Last Display Name"
        state: >
          {{states('sensor.strawberry_task_name').split('-')[0]}}
      - name: "Strawberry Last Object"
        state: >
          {{states('sensor.strawberry_task_name').replace(states('sensor.strawberry_task_name') + '-', '')}}
      - name: "Huckleberry Display Name"
        state: >
          {{states('sensor.huckleberry_gcode_filename').split('-')[0]}}
      - name: "Huckleberry Object"
        state: >
          {{states('sensor.huckleberry_gcode_filename').replace(states('sensor.huckleberry_display_name') + '-', '')}}
      - name: "Huckleberry Last Display Name"
        state: >
          {{states('sensor.huckleberry_task_name').split('-')[0]}}
      - name: "Huckleberry Last Object"
        state: >
          {{states('sensor.huckleberry_task_name').replace(states('sensor.huckleberry_task_name') + '-', '')}}

      - name: "Pineapple Display Name"
        state: >
          {{states('sensor.pineapple_current_object')}}
      - name: "Pineapple Object"
        state: >
          {{states('sensor.pineapple_current_object')}}
      - name: "Pineapple Last Display Name"
        state: >
          {{states('sensor.pineapple_current_object')}}
      - name: "Pineapple Last Object"
        state: >
          {{states('sensor.pineapple_current_object')}}

      - name: "Dragonfruit Display Name"
        state: >
          {{states('sensor.dragonfruit_filename').split('-')[0]}}
      - name: "Dragonfruit Object"
        state: >
          {{states('sensor.dragonfruit_filename').replace(states('sensor.dragonfruit_display_name') + '-', '')}}
